<html>
    <head>
        <meta charset="UTF-8">
        <!--<title>連絡帳</title>-->
        <link rel="stylesheet" href="/style.css">
    </head>
    
    <body>
        <h1>新しい連絡先</h1>
        <form action="contacts" method="post">
          <input type="text" name="name">
          <input type="submit">
        </form>
        <div>
          <a href="/">戻る</a>
        </div>
    </body>
</html>