<html>
    <head>
        <meta charset="UTF-8">
        <title>連絡帳</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    
    <body>
        <h1>これはerbで書きました。</h1>
        <p>今の時刻は<%= @now %></p>
    </body>
    <div>
          <a href="/contact_new">連絡先の新規作成</a>
    </div>
</html>